@page
@model SRA.Pages.Rischi.IndexRischiModel
@{
    ViewData["Title"] = "Index";

}
<h2>Elenco dei Rischi</h2>

<p>
<button type="button" class="bottone bottone1" data-toggle="ajax-modal-aggrischio">
    Aggiungi
</button>
</p>
<table id="tblrischi" class="display table table-hover table-striped table-bordered table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rischi[0].Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rischi[0].DescrizioneRischio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rischi[0].Globale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rischi[0].NomeTipoRischio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Rischi)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescrizioneRischio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Globale)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeTipoRischio)
                </td>
                <td>
                    <button type="button" class="bottone bottone1" data-toggle="ajax-modal-modrischio" data-idrischio="@item.ID">
                        Modifica
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal placeholder -->
<div id="modal-placeholder-rischi"></div>


@section Scripts {
    <script>

                $(document).ready(function () {
                    $('#tblrischi').DataTable({
                        // Opzioni di configurazione
                        paging: false,          // Abilita la paginazione
                        searching: true,       // Abilita la ricerca
                        ordering: true,        // Abilita l'ordinamento delle colonne
                    }
                    );
                });

$(function () {
    var placeholderElement = $('#modal-placeholder-rischi');
    $('button[data-toggle="ajax-modal-aggrischio"]').click(function (event) {
        var geturl = `${window.location.protocol}//${window.location.hostname}${window.location.port ? `:${window.location.port}` : ''}`;
        var urldettaglio = '/Rischi/IndexRischi?handler=AggiungiModalePartial';
        geturl += urldettaglio;

        $.get(geturl).done(function (data) {
            // append HTML to document, find modal and show it
            //$(document.body).append(data).find('.modal').modal('show');
            placeholderElement.html(data);
            placeholderElement.find('.modal').modal('show');
        });
    });
});

$(function () {
    var placeholderElement = $('#modal-placeholder-rischi');
    $('button[data-toggle="ajax-modal-modrischio"]').click(function (event) {
        var geturl = `${window.location.protocol}//${window.location.hostname}${window.location.port ? `:${window.location.port}` : ''}`;
        var urldettaglio = '/Rischi/IndexRischi?handler=AggiungiModalePartial';
        geturl += urldettaglio;
        const idrischio = $(this).attr('data-idrischio');
        geturl += "&idrischio=";
        geturl += idrischio;
        $.get(geturl).done(function (data) {
            // append HTML to document, find modal and show it
            //$(document.body).append(data).find('.modal').modal('show');
            placeholderElement.html(data);
            placeholderElement.find('.modal').modal('show');
        });
    });
});
</script>
}